.createDynamicOuterContainer{
    width: 400px;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}
@media (max-width: 630px) {
    .createDynamicOuterContainer{
        width: calc(100vw - 15em); /* 100% viewport width minus the combined horizontal padding and margin */
        min-width: 166px;
    }
}
.containerHeading{
    padding-bottom: 10px;
    border-bottom: 1px dashed;
    margin-bottom: 5px;
    font-size: large;
}
.containerOfAll{
    margin: 20px 0px;
}
.containerContent{
    /* background-color: red; */
    display: flex;
    padding: 5px 0px;
}
.containerContent label{
    /* background-color: yellow; */
    width: 35%;
    text-align: left;
}
.containerContent input{
    /* background-color: green; */
    width: 65%;
}
.logoImage{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    /* border: 2px solid red; */
}
.containerContentForResult{
    display: flex;
    align-items: center;
}
.overFlowWrap{
    padding: 0px 10px;
    overflow-wrap: anywhere;
}

.containerButton{
    color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}
.containerButton:hover{
    background-color: #0e049e;
}
.upload{
    padding: 5px 10px;
    border-radius: 11px;
}

.inputcss {
    width: 35%;
    margin: 0px 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.inputcss:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}