.dynamicQRBody{
    display: flex;
    overflow: auto;
    /* justify-content: center; */
}

.leftVerticleBar{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 84px);
    
}

.btn{
    /* height: 100px; */
    margin: 0px 5px;
}
.btn img{
    height: 50px;
    padding: 10px;
    box-shadow: 0px 0px 2px black;
    border-radius: 22%; 
}
.btn {
    position: relative;
    cursor: pointer;
}

.onHoverVisible {
    display: none;
    position: absolute;
    top: 18px;
    left: 78px;
    width: max-content;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.btn:hover .onHoverVisible {
    display: block;
}

/* ----------Right Body ------------ */
.rightBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    /* background-color: yellow; */
    
}
@media (min-width: 630px){
    .rightBody{
        width: -webkit-fill-available;
    }
}
@media (max-width:600px){
    .leftVerticleBar{
        flex-direction: row;
        position: fixed;
    bottom: 0px;
    width: 100vw;
    height: auto;
    }
    .rightBody{
        margin-bottom: 78px;
    }
    .dynamicQRBody{
        justify-content: center;
    }
   .btn:hover .onHoverVisible {
        display: none;
    }
}
