.printContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 15px;
    /* box-shadow: 10px 10px 12px; */
    background-color: white;
    padding: 40px;
    width: 300px;
   
}
.closeButton{
    position: relative;
    left: 144px;
    top: 72px;
}
.logoImage{
    height: 80px;
    width: 80px;
    /* background-color: yellow; */
    display: block;
    border-radius: 50%;
    margin: 10px;
}
.DirectoryName{
    padding: 0px 0px 25px 0px;
    text-align: left;
    word-break: break-all;
    font-weight: 700;
}
.downloadBtn{
    margin: 20px 0px;
}
button{
    color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}
button:hover{
    background-color: #0e049e;
}